.movieitem {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #d8cece;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 5px;
    width: 250px;
    height: 490px;

  }
  img {
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
  h3 {
    align-items: left;
    font-size: 18px;
    color: rgb(120, 118, 118);
    margin: 5px 0;
    width: 80%;
  }

  p {
    font-size: 14px;
    color: rgb(120, 118, 118);
    margin: 5px;
    width: 80%;
  }
.btn{
    position:absolute;
    bottom: 3%;
    height:30px;
    border-radius: 2px;
    border:rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.486);
    color:white;
    font-weight: bold;
    // background-color:rgb(155, 235, 235);
    // color: rgb(120, 118, 118);

  }

 