.movielist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 100%;
    flex-direction: row;
    row-gap: 10px;
  column-gap: 10px;
  margin-top: 5px



    // @media (max-width: 1200px) {
    //     flex-direction: column;
    //     align-items: center;
    // }
}
.appname{
  color: rgba(229, 9, 20, 1)
}

.header{
  display: flex;
  justify-content: space-between;
  z-index: 1z;
  padding-left: 3%;
  padding-right: 3%;

}
.headright{
  padding-top: 1%;
}
.default-ltr-cache-mv4tc2 {
  width: 9.25rem;
  height: 2.5rem;
  color: rgba(229, 9, 20, 1);
  fill: currentColor;
  display: block;
  z-index: 2;
  margin-top: 5px;
  
}

.username{
  color:rgb(120, 118, 118);
  z-index: 2;
  font-size: 18px;
  margin-right: 15px;

}
#signout{
  color: white;
  background-color: rgb(229, 9, 20, 1);
  border:rgb(229, 9, 20, 1);
  height:40px;
  width: 90px;
  font-size: 18px;
  border-radius: 5px;
  margin: 8px;
}