.signup11-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.example-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.item{
    padding: 0px;
    margin: 5px;
}
.email{
    margin-top: 20px;
}
.mat-mdc-raised-button.mat-mdc-button-base{
   height: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    z-index: 1z;
    border-bottom: 1px solid#ccc;
    padding: 30px;
  
  }
  .default-ltr-cache-mv4tc2 {
    width: 9.25rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
    fill: currentColor;
    display: block;
    z-index: 2;
    margin-top: 5px;
    
  }

  #signin{
    color: white;
    background-color: rgb(229, 9, 20, 1);
    border:rgb(229, 9, 20, 1);
    height:40px;
    width: 90px;
    font-size: 18px;
    border-radius: 5px;
    margin: 8px;
 }