<h1 mat-dialog-title>Movie Trailers</h1>
<div mat-dialog-content>
  
  <youtube-player 
    [videoId]="videoId" 
    [height]="500" 
    [width]="800">
  </youtube-player>

 
  <div class="trailer-container">
    <div *ngFor="let trailer of trailers" class="trailer-item">
      <img 
        [src]="'https://img.youtube.com/vi/' + trailer.key + '/0.jpg'"
        (click)="setVideoId(trailer)"
        alt="{{ trailer.name }}"
        style="width: 120px; height: 90px; cursor: pointer">
    </div>
  </div>
  <button mat-button mat-dialog-close>Close</button>
</div>