<h1 mat-dialog-title>Movie Trailers</h1>
<div mat-dialog-content>
  
  <youtube-player 
    [videoId]="videoId" 
    [height]="500" 
    [width]="100">
  </youtube-player>

 
  <div *ngFor="let trailer of trailers">
    <img 
      [src]="'https://img.youtube.com/vi/' + trailer.key + '/0.jpg'"
      (click)="setVideoId(trailer.key)"
      alt="{{ trailer.name }}"
      style="width: 120px; height: 90px; cursor: pointer">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>