.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.example-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.title{
    color:white;

}

.checkline{
    display:flex;
    justify-content: space-between;
    align-items: center;
  
}
.link{
    color:white;
    text-decoration:none
}

.help{
 font-size: 75%;
 color: #fff;
}
