<div class="signup2-container">
    <form class="example-form">
        <section class="chooseplan">
            <h5 class="item step">STEP 1 OF 3</h5>
            <h1 class="item">Choose the plan that's right for you</h1>
            <ul clas="benefit">

                <li class="comment">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="checkmark-group--icon" data-name="Checkmark" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
                            fill="currentColor"></path>
                    </svg>

                    <div class="commenttext">Watch all you want.</div>
                </li>
                <li class="comment">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="checkmark-group--icon" data-name="Checkmark" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
                            fill="currentColor"></path>
                    </svg>
                    <div class="commenttext">Recommendations just for you.</div>


                </li>
                <li class="comment">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="checkmark-group--icon" data-name="Checkmark" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z"
                            fill="currentColor"></path>
                    </svg>
                    <div class="commenttext">Change or cancel your plan anytime.</div>
                </li>
            </ul>
        </section>

        <section class="planform">
            <app-planform></app-planform>

        </section>
        <section class="bottom">
            <div>
                If you select an ad-supported plan, you will be required to provide your date of birth for ads
                personalization and other purposes consistent with the Netflix Privacy Statement.
            </div>
            <div>
                HD (720p), Full HD (1080p), Ultra HD (4K) and HDR availability subject to your internet service and
                device capabilities. Not all content is available in all resolutions. See our Terms of Use for more
                details.

            </div>
            <div>
                Only people who live with you may use your account. Watch on 4 different devices at the same time with
                Premium, 2 with Standard or Standard with ads, and 1 with Basic.
            </div>

            <button mat-raised-button color="warn" type="submit">
                Next
            </button>
        </section>



    </form>

</div>