
  #signin {
    color: white;
    background-color: rgb(229, 9, 20, 1);
    border:rgb(229, 9, 20, 1);
    height:40px;
    width: 90px;
    font-size: 18px;
    border-radius: 5px;
    margin: 8px;
    
  }
  .appname{
    color: rgba(229, 9, 20, 1)
  }
  .container1{
      display: flex;
      flex-direction: row;
  }


  .header{
    display: flex;
    justify-content: space-between;
    z-index: 1z;
    border-bottom: 1px solid#ccc;
    padding: 30px;
  
  }
  .default-ltr-cache-mv4tc2 {
    width: 9.25rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
    fill: currentColor;
    display: block;
    z-index: 2;
    margin-top: 5px;
    
  }
  
  .username{
    color:rgb(120, 118, 118);
    z-index: 2;
    font-size: 18px;
    margin-right: 15px;
  
  }
  #signout{
    color: white;
    background-color: rgb(229, 9, 20, 1);
    border:rgb(229, 9, 20, 1);
    height:40px;
    width: 90px;
    font-size: 18px;
    border-radius: 5px;
    margin: 8px;
  }


.signup3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
   
}

.example-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}
.checkmark-group--icon {
    align-self: flex-start;
    color: #e50914;
    flex: none;
    height: 26px;
    width: 26px;
}
.benefit {
    
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.comment{
   
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 10px

}
button{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    
}

.bottom{
    margin-top: 20px;
    div{
        margin-top: 10px;
    }
}
.example-form{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.item{
    padding: 0px;
    margin: 5px;
}

.mat-mdc-raised-button.mat-mdc-button-base{
    height: 50px;
 }


