body {
    background-color: black;
  }
  /* 
  @media only screen and (min-width: 960px)
  .section1,.section2,.section3 {
      text-align: left;
      padding-right: 0.375rem;
  } */
  
  .uppersection{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255,255,255);
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    
  }
  
  .uppersection1{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .background{
    position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
  }
  
  .backgroundimg{
    height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1.25) translateY(-10%);
  }
  
  .default-ltr-cache-1dibr51 {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    
  }
  .default-ltr-cache-mv4tc2 {
    width: 9.25rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
    fill: currentColor;
    display: block;
    z-index: 2;
    
  }
  
  .uppersection2{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .mainbody{
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
    margin-top: 8em;
  }
  
  
  
  .maintitle{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  
  h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .maincontent{
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .inputbody{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    
  }
  .inputline{
    display:flex;
    height: 3em;
  }
  
  .inputbox{
    flex:6
  }
  .start{
    flex:3.5;
    margin-left: 0.4em;
    color: white;
    background-color:rgba(229, 9, 20, 1);
    border-color:rgba(229, 9, 20, 1);
    border-radius: 3px;
  }
  
  
  
  
  #signin {
    
    background-color: rgb(229, 9, 20, 1);
    color: white;
    height: 2rem;
    width: 4rem;
    border: black;
    font-size: 15px;
    
  }
  
  
  h1{
    color: white;
  }
  .section1,.section2,.section3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding: 40px;
   border-top: 4px rgb(97, 95, 95);
    border-bottom: 4px solid rgb(97, 95, 95);
    color:white
  }
  
  .reverse{
    flex-direction: row-reverse;
  }
  
  .text {
    flex: 1;
    max-width: 700px;
    
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: left; */
  }
  
  #h1{
    float: left;
  }
  
  .image{
    /* display:flex;
    align-items: center;
    justify-content: center; */
    position:relative
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  .video1{
   
      z-index: -1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-width: 73%;
      max-height: 54%;
      position: absolute;
      top: 46%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .video2 {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }